.list__header {
  font-size: 20px;
  font-weight: normal;
}

.list__product {
  margin: 14px 0;
}

.list__name {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
}

.list__description {
  font-size: 14px;
}

.list__share {
  background-color: #1976d2;
  color: white;
}
