/* You can add global styles to this file, and also import other style files */
*
  font-family: 'Roboto', Arial, sans-serif

.btn
  padding: 10px
  border-radius: 3px
  display: inline-flex
  justify-content: center
  align-items: center
  border: none
  text-decoration: none
