.top-bar {
  display: flex;
  background-color: #1976d2;
  padding: 20px;
  justify-content: space-between;
}

.top-bar__logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.top-bar__cart {
  background-color: white;
  color: #1976d2;
  font-size: 14px;
}
